*{
    box-sizing: content-box;
}
:root {
    --earth: rgba(188, 76, 76, 0.729);
    --fern: rgb(6, 114, 6);
    --light: rgb(236, 202, 159);
    --soft-blue: rgb(74, 74, 252);
    --barely-blue: rgb(84, 157, 252);
}

header {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: thistle;

}

body {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.topnav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: coral;
}

ul.topnav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.topnav {
    position: right;
}

nav a:hover {
    background-color: aquamarine;
}

nav a.active {
    background-color: --light;
}

@media screen and (max-width: 600px) {
    .topnav bottom,
    .topnav float: none;
}

main {
    margin-top: 15px;
    margin-bottom: 45px;
}


